.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4d515c;
    height: 8vh;  /* min-height를 height로 변경 */
    display: flex;
    flex-direction: row;
    z-index: 1000;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }


  .app-header.scrolled.down {
    transform: translateY(-100%);
    opacity: 0;

  }

  .app-header.scrolled.up {

    opacity: 1;
    transform: translateY(0%);
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* 전체 너비를 차지하도록 설정 */
    height: 100%; /* 전체 높이를 차지하도록 설정 */
  }


  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 2%;
  }


  .logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  nav {
    display: flex;
    align-items: center;
    margin-right: 2%;
    width: 80%;
  }

.app-header-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.app-header-list li {
    cursor: pointer;
    font-size: calc(5px + 2vmin);
}

.app-header-list li a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}



.app-header-list li a:hover {
    color: rgb(57, 130, 224);
    transition: 0.5s;
    text-decoration: underline;
}



.nav-box{
    display: flex;
}


.tracker-contents {
    width: 100%;
    height: 100%;

}

.tracker-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 40%;
    margin-top: 2%;
   
  }
  
  .goal-today {
    margin-left: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    border: none;
    background-color: #6d488b;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 0.2rem 1rem;
  }
  
  .goal-today:hover {
    background-color: #5a3d73;
    cursor: pointer;
  }
  
  .reflection {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    border: none;
    background-color: #6d488b;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 0.2rem 1rem;
  }
  
  .reflection:hover {
    background-color: #5a3d73;
    cursor: pointer;
  }
  
  .goal-today-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 0.5px solid grey;
    padding: 10px;
    position: relative;
  }

  .goal-today-box.submit-goal {
    background-color: rgb(226, 226, 226);
  }
  
  .goal-today-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10%;
    margin-right: 10px;
    cursor: pointer;
  }

  .goal-today-checkbox:hover {
    background-color: rgb(204, 204, 204);
    transition: 0.5s;
  }
  



  .goal-today-checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
  }

  .goal-today-delete-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
  }


  .goal-today-title-input {
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    
  }

  .goal-today-title-input:focus {
    outline: none;
  }


  .goal-today-description-input {
    border: none;
    background-color: transparent;
  }

  .goal-today-description-input:focus {
    outline: none;
  }


  .goal-adder-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }



.goal-adder {
    width: 100%;
    height: 100%;
  }




.goal-adder-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: rgb(226, 226, 226);
  color: white;
  cursor: pointer;
}

.goal-adder-icon:hover {
  background-color: rgb(204, 204, 204);
  transition: 0.5s;
}

.goal-adder-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(226, 226, 226);

}

.goal-adder-modal-title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 5px;
  border-bottom: 1px solid #575757;
  width: 400px;
}



.goal-adder-modal-cancel {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: rgb(226, 226, 226);
    color: black;
    cursor: pointer;
    font-size: 20px;
}


.goal-adder-modal-goalName {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.goal-adder-modal-goalName label {
  color: rgb(112, 112, 112);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.goal-adder-modal-goalName input {
  border-radius: 5px;
  border: 0.5px solid #ccc;
}



.goal-adder-modal-goalDetail {
  margin-top: 10px;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.goal-adder-modal-goalDetail label {
  color: rgb(112, 112, 112);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.goal-adder-modal-goalName input:focus {
  outline: none; /* 기본 포커스 아웃라인 제거 */
  border-color: #6d488b; /* 포커스 시 테두리 색상 변경 */
  box-shadow: 0 0 5px rgba(109, 72, 139, 0.5); /* 포커스 시 그림자 효과 */
}



.goal-adder-modal-goalDetail textarea {
  color: black;
  cursor: text;
  width: 400px; /* 너비 증가 */
  height: 100px; /* 높이 증가 */
  font-size: 16px; /* 글자 크기 증가 */
  padding: 3px 3px; /* 내부 여백 추가 */
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 4px; /* 모서리 둥글게 */
  text-align: left;
  vertical-align: top;
  white-space: pre-wrap;
  overflow-y: auto; /* 세로 스크롤 허용 */
  resize: none; /* 수직 리사이즈만 허용 */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.goal-adder-modal-goalDetail textarea:focus {
  outline: none; /* 기본 포커스 아웃라인 제거 */
  border-color: #6d488b; /* 포커스 시 테두리 색상 변경 */
  box-shadow: 0 0 5px rgba(109, 72, 139, 0.5); /* 포커스 시 그림자 효과 */
}


.goal-adder-modal-add {
  border: none;
  color: rgb(72, 72, 250);
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(210, 210, 255);
  font-size: 17px;
  position: absolute;
  bottom: 2px;
  right: 2px;
  padding: 0.2rem 1rem;
  font-weight: bold;
}


.goal-adder-modal-add:hover {
  background-color: rgb(180, 180, 255);
  transition: 0.5s;
}



.reflection-title {
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.reflection-content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: max-height 0.5s ease-out;
  max-height: 0;
}


.reflection-content.show {
  max-height: 1000px; /* 최대 높이를 충분히 크게 설정 */
  overflow: visible;
  transition: max-height 0.5s ease-in;
}



