.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.tracker-box {
  width: 40%;
  height: 100%;
  background-color: #f8f4f4;
}

.summary-box {
  width: 40%;
  height: 100%;
  background-color: #2a3191;
}
